.li-pos{
	background-image: url(../img/pos.png);
    background-repeat: no-repeat;
    background-position:center;
}

.li-neg{
	background-image: url(../img/neg.png);
    background-repeat: no-repeat;
    background-position:center;
}

.li-unknown{
	background-image: url(../img/unknown.png);
    background-repeat: no-repeat;
    background-position:center;
}


.container{
	float: left;
}


.divInvisible{
    display: none;
}

/*th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 500px;
    margin: 0 auto;
}*/